/* Copyright (C) 2020-2022 Aditya Shakya <adi1090x@gmail.com> */
/* Everyone is permitted to copy and distribute copies of this file under GNU-GPL3 */

configuration {
    show-icons:                     false;
    disable-history:                false;
	click-to-exit: 					true;
}

@import "font.rasi"
@import "colors.rasi"

window {
    transparency:                   "real";
    background-color:               @background;
    text-color:                     @foreground;
    border:                  		1px;
    border-color:                  	@selected;
    border-radius:                  0px;
    width:                          400px;
    height:                         420px;
    location:                       center;
    anchor:                         center;
    x-offset:                       0;
    y-offset:                       0;
}

prompt {
    enabled: 						true;
	margin: 						0px 0px 0px 8px;
    padding:    					6px 0px 6px 0px;
	background-color: 				@background;
	text-color: 					@foreground;
    border:                  		0px 0px 1px 0px;
    border-color:                  	@selected;
    border-radius:                  0px;
}

textbox-prompt-colon {
	expand: 						false;
	str: 							"直";
    border-radius:                  0px;
    background-color:               @highlight;
    text-color:                     @background;
    padding:    					6px 10px 6px 10px;
	font:							"Iosevka Nerd Font 10";
}

entry {
    background-color:               @background;
    text-color:                     @foreground;
    border:                  		0px 0px 1px 0px;
    border-radius:                  0px;
    border-color:                  	@selected;
    placeholder-color:              @foreground;
    placeholder:                    "";
    expand:                         true;
    horizontal-align:               0;
    blink:                          true;
    padding:                        6px;
}

inputbar {
	children: 						[ textbox-prompt-colon, prompt, entry ];
    spacing:                        0;
    background-color:               @background;
    text-color:                     @foreground;
    expand:                         false;
    margin:                         0px 0px 0px 0px;
    padding:                        0px;
    position:                       center;
}

case-indicator {
    background-color:               @background;
    text-color:                     @foreground;
    spacing:                        0;
}


listview {
    background-color:               @background;
    columns:                        1;
    lines:							7;
    spacing:                        4px;
    cycle:                          true;
    dynamic:                        true;
    layout:                         vertical;
}

mainbox {
    background-color:               @background;
    children:                       [ inputbar, listview ];
    spacing:                       	10px;
    padding:                        10px;
}

element {
    background-color:               @background;
    text-color:                     @foreground;
    orientation:                    horizontal;
    border-radius:                  0px;
    padding:                        5px;
}

element-icon {
    background-color: 				inherit;
    text-color:       				inherit;
    horizontal-align:               0.5;
    vertical-align:                 0.5;
    size:                           0px;
    border:                         0px;
}

element-text {
    background-color: 				inherit;
    text-color:       				inherit;
    expand:                         true;
    horizontal-align:               0;
    vertical-align:                 0;
    margin:                         2px 0px 2px 2px;
}

element normal.urgent,
element alternate.urgent {
    background-color:               @urgent;
    text-color:                     @foreground;
    border-radius:                  0px;
}

element normal.active,
element alternate.active {
    background-color:               @background;
    text-color:                     @foreground;
}

element selected {
    background-color:               @selected;
    text-color:                     @background;
    border:                  		0px;
    border-radius:                  0px;
    border-color:                  	@selected;
}

element selected.urgent {
    background-color:               @urgent;
    text-color:                     @foreground;
}

element selected.active {
    background-color:               @background;
    color:                          @foreground;
}
