.top-panel-window {
    .time {
        font-weight: bold;
        color: $blue;
  
        .time-text {
            font-size: 1.1em;
            margin: 0em 1em 0em 0em;
            transition: 0.5s;
        }
  
        .time-icon {
            font-size: 1.3em;
            margin: 0em 0.5em 0em 0em;
        }
  
        .time-text:hover {
            color: $pink;
        }
    }
}
