.top-panel-window {
    .workspaces {
        font-size: 1em;
        font-weight: bold;
        margin: 0 0 0 1.5em;
        
        button {
            margin: .8em;
            padding-left: 1px;
            transition: 0.5s;
                
            &.active-occupied,
            &.active-empty {
                color: $pink;

                &:hover {
                    color: $blue;
                }
            }

            &.inactive-occupied {
                color: $blue;

                &:hover {
                    color: $pink;
                }
            }

            &.inactive-empty {
                color: $black-lighter;

                &:hover {
                    color: $blue;
                }
            }
        }
    }
}