.music-player {
	background-size: cover;
	background-position: center;
	padding: 3rem;
	border: 2px solid $foreground;
	border-radius: 20px;
	margin: 1rem;
}

.artist {
	font-family: Jetbrains Mono;
	font-style: italic;
	font-weight: bold;
	color: $foreground;
	font-size : 1.2em;
}

.song {
	font-family: Jetbrains Mono;
	font-style: italic;
	font-size: 1.1em;
	color: $foreground;
	margin-top: -5px;
}

.button-previous, .button-play, .button-next {
	font-family: 'icomoon\-feather';
}

.button-prev {
	color: $cyan;
	font-size : 25px;
}

.button-play {
	color: $foreground;
	font-size : 25px;
	font-weight : bold;
}

.button-next {
	color: $cyan;
	font-size : 25px;
}

.metric-player scale trough highlight {
	all: unset;
	border-radius: 10px;
	background-color: $foreground;
}
  
.metric-player scale trough  {
	all: unset;
	background-color: $background;
	border:2px solid $foreground;
	border-radius: 50px;
}
  
.metric-player scale trough  {
	min-width: 200px;
	min-height: 10px;
	// margin: .5rem 1rem 0 1rem;
}