.window {
	margin: 1rem;
	padding: 0 3rem 0 3rem;
}

.hour, .min, .meridiem, .separator-clock {
	color: $foreground;
	padding: 1rem 0 0 0;
	font-weight: bold;
	font-size: 20px;
}

.separator-clock {
	margin-top: -5px;
}

.day {
	color: $foreground;
	padding: .5rem;
	font-size: 15px;
	font-style: italic;
}