.window {
	padding: 2rem;
	margin: 1rem;
}

.quote-text {
	padding: 1px;
	font-size: 10px;
	color: $foreground;
}

.quote-author {
	font-style: italic;
	font-weight: bold;
	font-size: 11px;
	color: $foreground;
	margin-top: 1rem;
}