.todo-raw {
	padding: 0px 30px 0px 0px;
	color: $blue;
	font-size: 35px;
	font-weight: bold;
}

.todo-text {
	padding: 10px 0px 10px 0px;
	background-color: $background;
	font-size : 10px;
	font-weight : bold;
	color: $green;
}

.todo-color {
	color: $red;
}