* {
  all: unset;
}

window {
  color: $pink;
  font-family: "JetBrains Mono", "Sarasa Mono CL", "icomoon\-feather";
  font-weight: bold;
  color: $white;
}

tooltip {
  background-color: $black-lighter;
  font-weight: 500;
  font-size: 14px;
}
