window {
margin: 0px;
border: 2px solid #FFDEDE;
border-radius: 20px;
background-color: #212529;
font-family: 'icomoon\-feather' ,'Jetbrains Mono';
font-size: 12px;
}

#input {
margin: 15px;
border: 1px solid #212529;
border-radius: 20px;
color: #FFDEDE;
background-color: #212529;
}

#input image {
    color: #212529;
}

#inner-box {
margin: 5px;
border: none;
padding-left: 10px;
padding-right: 10px;
border-radius: 20px;
background-color: #212529;
}

#outer-box {
margin: 5px;
border: none;
background-color: #212529;
border-radius: 20px;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #FFDEDE;
} 

#entry:selected {
    background-color: #FFDEDE;
    font-weight: normal;
    border-radius: 20px;
}

#text:selected {
    background-color: #FFDEDE;
    color: #212529;
    font-weight: normal;
}