.control-center-window {
	.control-center-spacer {
		transition: all 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	}

	.control-center {
		background-color: $black;
    border-radius: 20px;
    padding: 0.5em;

		.sep-column {
			background-color: $black-lighter;
			border-radius: 6px;
			margin: 2em .2em;
			padding: 0em .1em;
		}
	}

  button:hover {
    color: $blue;
  }

  .eww-dashboard {
    background-color: $black;
    border-radius: 20px;
    font-weight: normal;
    padding: 0.5em;
  }

  .dashboard-windows {
    background-color: $black-darker;
    border-radius: 20px;
    padding: 1em;
    margin: 0.5em;
  }
}