.actions {
  font-size: 1.3em;
  font-weight: bold;

  border-radius: 20px;
  background-color: $black-darker;

  margin: 0em 0.5em 0em 0em;
  padding: 0.5em;
}

.brightness-icon {
  margin: 0em 0em 0em 1em;
  color: $yellow;
}
.volume-icon {
  margin: 0em 0em 0em 0em;
  color: $green;
}
.network-icon {
  margin: 0em 0em 0em 1em;
  color: $purple;
}

scale trough {
  all: unset;
  background-color: $black-lighter;
  border-radius: 5px;
  min-height: 10px;
  min-width: 80px;
}

.brightness-bar trough highlight {
  background-color: $yellow;
  border-radius: 5px;
}
.volume-bar trough highlight {
  background-color: $green;
  border-radius: 5px;
}
.network-speed {
  font-size: 0.8em;
  color: $purple;
}