.cal-window {
  background-color: $black-darker;
  border-radius: 10px;

  .cal-box {
    margin: 1em 0.75em 0.25em;

    .month-year {
      font-size: 17px;
      font-weight: bold;
      color: $blue;
      margin: 0.5em 0em 0em;
    }

    .day-names {
      margin: 1em 0.75em 0em;
      font-size: 12px;
      font-weight: bold;
      color: $green;
    }

    .cal {
      padding: 1em 0.75em 0em;
    }
  }
}

calendar {
  &:selected {
    color: $blue;
  }
  &:indeterminate {
    color: $black-lighter;
  }
}

calendar.button {
  color: $black-darker;
}
calendar.highlight {
  color: $green;
  font-weight: bold;
  padding: 20px;
  margin: 20px;
}
