.music-bar {
  font-weight: bold;

  .song-cover-bar {
    background-size: cover;
    background-position: center;
    min-height: 25px;
    min-width: 25px;
    margin: 10px;
    border-radius: 100%;
  }

  .song-bar {
    color: $blue;
    font-size: 1.1em;
    margin: 0em 1em 0em 0em;
  }

  .music-play-bar {
    color: $pink;
    font-size: 1.3em;
    margin: 0em 0em 0em 0em;
  }

  .music-previous-bar,
  .music-next-bar {
    color: $blue;
    font-size: 1.3em;
    margin: 0em 0.5em 0em 0.5em;
  }

  .music-previous-bar:hover,
  .music-next-bar:hover,
  .song-bar:hover {
    color: $pink;
  }
}
