.ws {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0em 0em 0em 1.5em;

  .0, .01, .02, .03, .04, .05, .06, .07, .08, .09,
  .011, .022, .033, .044, .055, .066, .077, .088, .099 {
    margin: 0.8em;
  }

  .0 {
    color: $black-lighter;
  }

  .01, .02, .03, .04, .05, .06, .07, .08, .09 {
    color: $pink;
  }
  
  .011, .022, .033, .044, .055, .066, .077, .088, .099 {
    color: $blue;
  }
}
