.time-circle {
  color: $green;
  margin: 1em;
}

.time-circle-text {
  padding: 2em;
  color: $green;
  font-size: 2em;
  font-weight: bold;
}

.hour-circle-text {
  margin: 0em 1em 0.5em 0em;
}
.minute-circle-text {
  margin: 0.5em 0em 0em 1em;
}