.music-dashboard {
  min-height: 100px;
  margin: 0.5em 0.5em;

  .song-cover-dashboard {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;

    min-width: 380px;

    .song-dashboard {
      border-radius: 20px;
      background: linear-gradient(
        to right,
        rgba(16, 20, 21, 0.6),
        rgba(16, 20, 21, 0.9)
      );

      padding-top: 10px;
      padding-left: 1em;

      .now-playing {
        margin-bottom: 6px;
        color: $pink;
      }
      .song-title {
        font-size: 16px;
        font-weight: bolder;
        color: $blue;
      }
      .song-artist,
      .song-position {
        font-weight: bold;
        color: $pink;
      }

      .song-controls {
				button {
					font-size: 2.5em;
          font-weight: bold;
          margin: 0em 0.5em 0em 0.5em;
          padding: 0.5em;
          transition: 0.5s;
		
					&:hover {
						color: $blue;
            background-color: $black-darker;
            border-radius: 10px;
					}
				}

        .music-play-dashboard {
          color: $pink;
        }
      
        .music-previous-dashboard,
        .music-next-dashboard {
          color: $blue;
        }
      
        .music-previous-dashboard:hover,
        .music-next-dashboard:hover {
          color: $pink;
        }
			}
    }
  }
}
