.weather-icon {
  font-family: "Jetbrains Mono Nerd Font";
  font-weight: bold;
  font-size: 4.5em;
}

.weather-temperature {
  font-size: 1.5em;
  font-weight: bold;
  color: $blue;
}

.weather-status {
  font-size: 1em;
  font-weight: bold;
  color: $pink;
}

.weather-location {
  font-style: italic;
  font-size: 1em;
  margin: 0em;
  color: $green;
}
