.sideboard-layout-box {
  background-color: $background;
}

.sideboard-headers {
  padding: 1em 2em 0 2em;
  margin-bottom: 0.8em;
  color: $blue;
}

.sideboard-headers-label {
  font-size: 20;
  font-weight: bold;
  color: $red;
  opacity: 0.8;
}

.sideboard-headers-clear { 
  font-size: 25;
  color: $blue;
  padding: 0em 0.7em 0 0.5em;
}

.sideboard-headers-clear:hover { 
  background-color: $blue; 
  color: $background-alt;
}

.sideboard-empty-box {
  padding-left: 1em;
  padding-right: 1em;
}

.sideboard-empty-label {
  padding-top: 2em;
  color: $background;
  font-size: 15;
  padding-left: 5em;
  padding-right: 5em;
}

.sideboard-scroll-box { 
    margin: 0 1.1em 0 1.1em; 
}

.sideboard-card-eventbox {
    background: linear-gradient(45deg, $background 20%, $background-alt 100%); 
}

.sideboard-card-eventbox:hover {
    background: linear-gradient(170deg, $background-alt 20%, $background-alt2 100%); 
}

.sideboard-card-box { 
    padding: 2em; 
}

.sideboard-separator {
  background-color: $background;
  font-size: 1;
  margin-top: 5em;
  margin-bottom: 5em;
}

.sideboard-LOW {
  background-color: $background;
  color: $blue;
  padding: 0 1em 0 0.7em;
  font-size: 30;
}

.sideboard-NORMAL {
  background-color: $background;
  color: $foreground;
  padding: 0 1em 0 0.7em;
  font-size: 30;
}

.sideboard-CRITICAL {
  background-color: $background;
  color: $red;
  padding: 0 1em 0 0.7em;
  font-size: 30;
}

.sideboard-OTHER {
  background-color: $background;
  color: $magenta;
  padding: 0 1em 0 0.7em;
  font-size: 30;
}

.sideboard-spotify {
  background-color: $background;
  color: $green;
  padding: 0 1em 0 0.7em;
  font-size: 30;
}

.sideboard-brightness {
  background-color: $background;
  color: $yellow;
  padding: 0 1em 0 0.7em;
  font-size: 30;
}

.sideboard-summary {
  font-weight: bold;
  font-size: 17;
  color: $foreground;
}

.sideboard-card-notify-close {
  color: $red;
  border-radius: 50%;
  margin-bottom: 0.3em;
}

.sideboard-card-notify-close:hover label { 
  background-color: $red; 
  color: $background;
  border-radius: 50%;
  padding-left: 0.05em;
  padding-right: 0.05em;
}

.sideboard-body {
    color: $background-alt2; 
}