* {
  font-family: "Roboto", "Sarasa UI J";
  font-weight: bold;
  font-size: 13px;
}

window#waybar {
  border: 2px solid #000000;
  border-radius: 0 0 12px 12px;

  background-color: #1b1f23;
	color: #ffdede;

  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.5;
}


#workspaces button {
  border-radius: 8px;

  margin: 10px 15px 10px 15px;

  color: #ffdede; 
}

#workspaces button.visible {
  color: #161A1E; 
  background-color: #ffdede;
}


#clock,
#pulseaudio {
  border-radius: 8px;

  padding: 8px;
  margin: 10px 15px 10px 15px;
}


#clock {
  color: #161a1e;
  background-color: #b4e3ad;
}


#pulseaudio {
  color: #161a1e;
  background-color: #a3cbe7;
}

#backlight {
	background-color: #cba6f7;
}

#battery {
	background-color: #f9e2af;
}

#battery.charging {
}

#battery.plugged {
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery.critical:not(.charging) {
	background-color: #f38ba8;
    color: #f38ba8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/** ********** CPU ********** **/
#cpu {
	background-color: #89dceb;
}

/** ********** Memory ********** **/
#memory {
	background-color: #eba0ac;
}

/** ********** Disk ********** **/
#disk {
	background-color: #b4befe;
}

/** ********** Tray ********** **/
#tray {
	background-color: #cdd6f4;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
#tray > .active {
}

/** ********** MPD ********** **/
#mpd {
	background-color: #94e2d5;
}

#mpd.disconnected {
	background-color: #f38ba8;
}

#mpd.stopped {
	background-color: #f5c2e7;
}

#mpd.playing {
	background-color: #74c7ec;
}

#mpd.paused {
}

/** ********** Pulseaudio ********** **/

/** ********** Network ********** **/
#network {
	background-color: #89b4fa;
}

#network.disconnected,#network.disabled {
	background-color: #313244;
	color: #cdd6f4;
}
#network.linked {
}
#network.ethernet {
}
#network.wifi {
}

/** ********** Custom ********** **/
#custom-menu, #custom-power {
	border-radius: 4px;
	margin: 6px 0px;
	padding: 2px 8px;
}

#custom-menu {
	background-color: #f5c2e7;
	margin-left: 6px;
	padding: 2px 6px;
	font-size: 16px;
}

#custom-power {
	background-color: #f38ba8;
	margin-right: 6px;
	padding: 2px 8px;
	font-size: 16px;
}

/** Common style **/
#backlight, 
#battery,
#cpu,
#disk,
#mode,
#memory,
#mpd,
#tray,
#network {
	border-radius: 4px;
	margin: 6px 0px;
	padding: 2px 8px;
}
