*{
	all: unset;
	font-family: 'Jetbrains Mono', 'Sarasa Gothic J', 'icomoon\-feather';
	transition: 200ms ease-out;
}
// At Line 3 Collumn 52 change it at your corresponding language "J = Japanse, K = Korean, CL = Classical orthography, SC = Simplified Chinese, TC = Traditional Chinese Taiwan, HC = Traditional Chinese Hong Kong"

.dashboard{
	background-color: $background;
	border: 2px solid $foreground;
	border-radius: 20px;
	padding: 1rem;
}

.window {
	background-color: $background;
	border-radius: 20px;
	border: 2px solid $foreground;
}