.control-panel {
    .control-box {
        background-color: $black-darker;
        border-radius: 10px;
        margin: 1em 0 1em;
        padding: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    
        .controls {
            button {
                background-color: $black-lighter;
                font-size: 1.5em;
                font-weight: bold;
                border-radius: 20px;
                margin: 0.5em;
                padding: 20px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 1);
                transition: 0.3s;
    
                &:hover {
                    border-radius: 100%;
                }
            }
        }
    }
}