.control-panel-window {
    .music-box {
		margin-top: 1em;
	
		.song-cover {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			border-radius: 20px;
			transition: 1s;
		}
	
		.song {
			border-radius: 20px;
			background: linear-gradient(
				to right,
				rgba(16, 20, 21, 0.8),
				rgba(16, 20, 21, 0.1)
			);
	  
			padding-top: 10px;
			padding-left: 1em;
	  
			.now-playing {
				margin-bottom: 6px;
				color: $pink;
			}
			.song-title {
				font-size: 16px;
				font-weight: bolder;
				color: $blue;
			}
			.song-artist,
			.song-position {
				font-weight: bold;
				color: $pink;
			}
	
			.song-controls {
				button {
					font-size: 2.5em;
					font-weight: bold;
					margin: 0 0.4em 0.2em;
					padding: 5px;
					transition: 0.5s;
					text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
			
					&:hover {
						color: $blue;
						background-color: $black-darker;
						border-radius: 10px;
						box-shadow: 0 0 10px rgba(0, 0, 0, 1);
					}
				}
				
				.music-play {
					color: $pink;
					text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
				}
		  
				.music-controls {
					color: $blue;
          
          			&:hover {
            			color: $pink;
          			}
				}
			}
		}
	}
}
