$background: #212529;
$background-alt: #343A40;
$background-alt2: #495057;
$foreground: #FFDEDE;
$red: #FF8E8E;
$yellow: #FFFBDE;
$orange: #FFFBDE;
$green: #E4FFDE;
$blue: #DEF2FF;
$blue2: #DEF2FF;
$magenta: #E7DEFF;
$cyan: #DEFBFF;