* {
  border: none;
  border-radius: 0;
  font-family: "icomoon\-feather", "Jetbrains Mono", "Sarasa Gothic J";
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: white;
}

tooltip {
  background: #212529;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: #FFDEDE;
}

#workspaces button {
  padding: 0px 10px;
  color: #FFDEDE;
}

#workspaces button.focused {
  color: #212529;
  background-color: #FFDEDE;
  border-radius: 15px;
}

#workspaces button.visible {
  color: #212529;
  background-color: #DEFBFF;
  border-radius: 15px;
}

#workspaces button.urgent {
  color: #212529;
  background-color: #DEFBFF;
  border-radius: 15px;
}

#workspaces button:hover {
  background-color: #FFDEDE;
  color: #212529;
  border-radius: 15px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  background-color: #212529;
  color: #FFBEBE;
  padding: 10px 10px;
  margin: 10px 0px;
}

#custom-power {
  color: #FF8E8E;
  background-color: #212529;
  border-radius: 0px 50px 50px 0px;
  padding: 10px 10px;
  margin: 10px 0px;
}

#window,
#workspaces {
  background-color: #212529;
  border-radius: 50px 0px 0px 50px;
  padding: 10px 10px;
  margin: 10px 0px;
}
