.quote-text {
	padding: 1px;
	font-size: 10px;
	font-weight: bold;
	color: $foreground;
}

.quote-author {
	font-style: italic;
	font-weight: bolder;
	font-size: 11px;
	color: $blue;
	margin-top: 1rem;
}