.icon-cpu, 
.icon-memory, 
.icon-disk,
.icon-battery,
.icon-temperature,
.icon-packages {
  font-size: 20px;
}

.icon-cpu {
  color: $red;
}

.icon-memory {
  color: $blue;
}

.icon-disk {
  color: $magenta;
}

.icon-battery {
  color: $green;
}

.icon-temperature {
  color: $yellow;
}

.icon-packages {
  color: $foreground;
}

.text-cpu,
.text-battery,
.text-memory,
.text-disk,
.text-packages,
.text-temperature {
  font-weight: bold;
}

.text-cpu {
  color: $red;
}

.text-memory {
  color: $blue;
}

.text-disk {
  color: $magenta;
}

.text-battery {
  color: $green;
}

.text-temperature {
  color: $yellow;
}

.text-packages {
  color: $foreground;
}

.cpu-bar, 
.mem-bar, 
.disk-bar,
.battery-bar,
.temperature-bar,
.packages-bar,
scale trough {
  all: unset;
  background-color: $background-alt;
  border-radius: 16px;
  min-height: 5px;
  min-width: 100px;
}

.cpu-bar, 
.mem-bar, 
.disk-bar,
.battery-bar,
.temperature-bar,
.packages-bar,
scale trough highlight {
  all: unset;
  border-radius: 16px;
}

.cpu-bar scale trough highlight {
  background-color: $red;
}

.memory-bar scale trough highlight {
  background-color: $blue
}

.disk-bar scale trough highlight {
  background-color: $magenta;
}

.battery-bar scale trough highlight {
	background-color: $green;
}

.temperature-bar scale trough highlight {
	background-color: $yellow;
}

.packages-bar scale trough highlight {
	background-color: $foreground;
}