.weather-day {
	font-weight: bold;
	font-size: 1.6em;
	color: $green;
}

.temperature-region {
	font-size: 1em;
	font-weight: bold;
	color: $red;
}

.weather-icon {
	font-size: 4.2em;
}

.temperature {
	font-size: 1em;
	font-weight: bold;
	color: $foreground
}

.weather-status {
	font-style: italic;
	font-weight: bold;
	font-size: 1em;
	color: $blue
}